.memberGrid{

    display:grid;

    grid-template-columns:
    repeat(auto-fill,minmax(180px,1fr));

    gap:30px;

    padding:40px;
}

.memberCard{

    text-align:center;
}

.memberCard img{

    width:100%;

    aspect-ratio:1/1;

    object-fit:cover;

    border-radius:10px;

    border:1px solid rgba(255,255,255,.2);
}

.memberName{

    margin-top:10px;

    font-size:1rem;
}

.memberRole{

    margin-top:5px;

    font-weight:bold;

    font-size:.95rem;
}
