*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    color:white;
    overflow:hidden;
    font-family:Arial,sans-serif;
}

#rotateWarning{
    display:none;
}

@media (orientation: portrait){

    #rotateWarning{
        display:flex;
        position:fixed;
        inset:0;
        z-index:9999;
        background:#000;

        justify-content:center;
        align-items:center;

        text-align:center;

        padding:20px;
        font-size:1.5rem;
    }

}

.game-screen{
    width:min(100vw,177.78vh);
    aspect-ratio:16/9;

    margin:auto;

    position:relative;
    overflow:hidden;
}

.background{

    position:absolute;
    inset:0;

    background:
    linear-gradient(
    rgba(0,0,0,.55),
    rgba(0,0,0,.55)),
    url("../../assets/banner.webp");

    background-size:cover;
    background-position:center;
}

.menu{

    position:relative;

    z-index:2;

    height:100%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:15px;
}

#guildName{

    margin-bottom:20px;

    font-size:3rem;

    letter-spacing:4px;
}

.menuBtn{

    width:320px;

    padding:15px;

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.2);

    color:white;

    font-size:1.1rem;

    cursor:pointer;

    transition:.3s;
}

.menuBtn:hover{

    transform:scale(1.05);

    background:rgba(255,255,255,.18);

    box-shadow:0 0 20px rgba(255,255,255,.4);
}

.links{

    margin-top:30px;

    display:flex;

    gap:30px;
}

.links a{

    color:white;

    text-decoration:none;
}

.links a:hover{

    text-decoration:underline;
}
